extends ../layouts/application.jade

block title
  title Объекты

block menu
  - var active = 'pricelist';

block content
  .article
    table(cellspacing='0' cellpadding='0' align='center' border='0')
      tbody
        tr
          td(valign='top' align='center' height='147')
            p.Main_text_white(style='text-align: justify;') &nbsp;
            table(border='0')
              tbody
                tr
                  td.Headline.mceSelected(
                    valign='top'
                    height='65'
                    width='138'
                    style='text-align: justify;'
                  )
                    p
                      | УСЛУГИ
                      br
                      | И ЦЕНЫ
                  td.Headline.mceSelected(
                    valign='top'
                    width='752'
                    style='text-align: justify;'
                  )
                    p.Body_left_white
                      img(height='10' width='10' src='/assets/bullet.png')
                      |  Видеообследование вентиляционных каналов
                    p.Body_left_white
                      img(height='10' width='10' src='/assets/bullet.png')
                      |  Восстановление дымоходов и вентканалов:
                      br
                      | - по технологии «FuranFlex®»
                      br
                      | - по технологии «МАСАН» Трубочистные работы</p>
                    p.Body_left_white
                      img(height='10' width='10' src='/assets/bullet.png')
                      |  Очистка от пожароопасных отложений систем механической
                      br
                      | и естественной вентиляции сжатым воздухом, а
                      | также вентиляционного оборудования
                      br
                      br
                      img(height='10' width='10' src='/assets/bullet.png')
                      |  Проектирование систем вентиляции,
                      | кондиционирования и отопления
                      br
                      br
                      img(height='10' width='10' src='/assets/bullet.png')
                      |  Монтаж и наладка систем вентиляции,
                      | кондиционирования и отопления
                      br
                      br
                      img(height='10' width='10' src='/assets/bullet.png')
                      |  Автоматизация и электроснабжение инженерных систем
                      br
                      br
                      img(height='10' width='10' src='/assets/bullet.png')
                      |  Гарантийное и сервисное обслуживание
                      br
                      br
                      img(height='10' width='10' src='/assets/bullet.png')
                      |  Изготовление и установка декоративных
                      | вентиляционных решеток (из латуни)
                tr
                  td.Headline.mceSelected(
                    valign='top'
                    colspan='2'
                    height='65'
                    style='text-align: justify;'
                  )
                    br
                    span.Body_left_white
                      | Наше предприятие Это современные технологии и
                      | специалисты высочайшего уровня,
                      br
                      | выполняющие работы на объектах в
                      | Санкт-Петербурге, Ленинградской и прилегающих
                      | областях.
