extends ../layouts/application.jade

block title
  title Технологии

block content
 .leadingarticles
    .item
      .item-bg
        p.articleinfo

        table(border="0" width="900")
          tbody
            tr
              td.Headline(width="133") ТЕХНОЛОГИИ
              td.Headline(width="757")
                span.Head_Red «FuranFlex®»
            tr
              td.Body_left_white
                img(height="244" width="130" src="/assets/furan_truba.png")
              td.Body_left_white
                p  
                p
                  | Практически все предприятия, а также частные дома,
                  | имеющие котельное оборудование, сталкиваются с
                  | настоящей проблемой разрушения дымохода. Причиной
                  | тому является
                  br
                  | образование дымовых газов, которые конденсируясь в
                  | дымоходе, осаждаются
                  br
                  | на его стенках в виде «кислотной воды».
                p
                  br
                  | Наша компания ООО «Проф-Сервис» является дилерским
                  | представителем компании «FineLine»
                  br
                  | по продвижению технологий «FuranFlex®» с
                  | использованием материалов «FuranFlex®»
                  br
                  | и «FuranFlex® Izol» на территории Северо-Западного
                  | региона.
                p
                  br
                  | Восстановление старых дымовых каналов даже сложной
                  | формы ИЗНУТРИ. Вам не потребуется ни ломать стены,
                  | ни перебирать кирпичный стояк.
                p
                  br
                  | Материал FURANFLEX ® представляет собой укрепленную
                  | стекловолокнами, твердеющую
                  br
                  | при высокой температуре искусственную смолу, так
                  | называемый композит. Он более коррозиестойкий, чем
                  | нержавеющая сталь. В дымовых газах длительно
                  | переносит температуру
                  br
                  | до 250°С, а на короткий период – даже значительно
                  | высокую.
            tr
              td.Body_left_white(colspan="2")
                table(border="0" width="900")
                  tbody
                    tr
                      td.Body_left_white.
                        Вкладыш «FuranFlex®» состоит из трех
                        слоев. Внутренняя оболочка представляет собой
                        пленку-термопласт, наружная оболочка является
                        кожухом и выполнена из текстиля, а средний
                        слой – высокопрочная стеклоткань
                        (стекловолокно), пропитанная теплоустойчивой
                        смолой.
                      td
                        img(
                          height="138",
                          width="180",
                          src="/assets/furanflex2.png"
                        )
            tr
              td.Body_left_white(colspan="2")
                table(border="0" height="540" width="900")
                  tbody
                    tr
                      td(height="502" width="396")
                        object(
                          data="/assets/furanflex.swf",
                          type="application/x-shockwave-flash",
                          height="500",
                          width="350"
                        )
                          param(name="data" value="/assets/furanflex.swf")
                          param(name="src" value="/assets/furanflex.swf")
                          param(name="movie" value="/assets/furanflex.swf")
                      td.Body_left_white(width="494")
                        p
                          | Монтаж таких труб не занимает много времени
                          br
                          | и происходит без разлома стен.
                          br
                          br
                          | Фактически технология «FuranFlex®»
                          | представляет собой процедуру ремонта
                          | дымоходов с помощью гибкого полимерного
                          | вкладыша, который опускается в дымовой канал
                          | (кирпичный, бетонный, стальной), затем
                          | подсоединяется к парогенератору,
                          br
                          | и под действием давления пара расправляется,
                          | принимая форму, повторяющую форму
                          | канала. Необратимо затвердевая, материал
                          | превращается в новую долговечную бесшовную
                          | трубу.
                        p
                          span.Head_Red Преимущества FURANFLEX®:
                          br
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Тепло- и холодостойкий
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Коррозионно стойкий
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Формируется по дымоходу
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Без стыков
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Тонкая стенка
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Гладкая внутренняя поверхность
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Хорошая теплоизоляция
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Высокая механическая прочность
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Совершенно газоустойчивый
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Дает лучшую тягу
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Легче алюминия
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Монтируется без разборки стен
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Требует мало времени монтажа Водо- и
                          | паронепроницаемый
                          br
                          img(height="10" width="10" src="/assets/bullet.png")
                          |  Гарантия 30 лет
