doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    block title
      title Трубочистное дело
    link(
      href='/assets/sazhinet.min.css'
      type='text/css'
      media='all'
      rel='stylesheet'
    )
    meta(
      name='keywords'
      content='прочистка дымоходов реконструкция печей дымоходы печи камины топки дымит печь камин труба трубочисты санкт-петербурга'
    )
    meta(name='description' content='Сажи нет')
    meta(name='MSSmartTagsPreventParsing' content='true')
    meta(http-equiv='X-UA-COMPATIBLE' content='IE=EmulateIE8')
    meta(http-equiv='imagetoolbar' content='false')
  body
    | <!--[if lt IE 8]>
    | <p class="browsehappy">
    |   Вы используете <strong>устаревший</strong> браузер.
    |   Пожалуйста <a href="http://browsehappy.com">обновите браузер</a>
    |   для корректной работы сайта.
    | </p>
    | <![endif]-->
    #page
      .content
        #mh
          table(cellspacing='0' cellpadding='0' border='0')
            tbody
              tr.top-menu
                td
                  a#menu_home(
                    href='/'
                    title='Главная'
                    style='width: 160px; height: 105px;'
                  )
                td
                  a#menu_technology(
                    onmouseover="MlImageOn('ml_img_2_1')"
                    onmouseout="MlImageOff('ml_img_2_1')"
                    href='/technology'
                    title='Технологии'
                    style='width: 137px; height: 105px;'
                  )
                    img(
                      src='/assets/technology.jpg'
                      name='ml_img_2_1'
                      border='0'
                      width='137'
                      height='105'
                      alt='Технологии'
                    )
                td
                  a#menu_object(
                    onmouseover="MlImageOn('ml_img_3_1')"
                    onmouseout="MlImageOff('ml_img_3_1')"
                    href='/objects'
                    title='Объекты'
                  )
                    img(
                      src='/assets/objects.jpg'
                      name='ml_img_3_1'
                      border='0'
                      width='114'
                      height='105'
                      alt='Объекты'
                    )
                td
                  a#menu_pricelist(
                    onmouseover="MlImageOn('ml_img_4_1')"
                    onmouseout="MlImageOff('ml_img_4_1')"
                    href='/pricelist'
                    title='Услуги и цены'
                  )
                    img(
                      src='/assets/pricelist.jpg'
                      name='ml_img_4_1'
                      border='0'
                      width='108'
                      height='105'
                      alt='Услуги и цены'
                    )
                td
                  a#menu_guruhelp(
                    onmouseover="MlImageOn('ml_img_5_1')"
                    onmouseout="MlImageOff('ml_img_5_1')"
                    href='/guruhelp'
                    title='Советы специалиста'
                  )
                    img(
                      src='/assets/guruhelp.jpg'
                      name='ml_img_5_1'
                      border='0'
                      width='148'
                      height='105'
                      alt='Советы специалиста'
                    )
                td
                  a#menu_forum(
                    onmouseover="MlImageOn('ml_img_6_1')"
                    onmouseout="MlImageOff('ml_img_6_1')"
                    href='/forum'
                    title='Форум'
                  )
                    img(
                      src='/assets/forum.jpg'
                      name='ml_img_6_1'
                      border='0'
                      width='116'
                      height='105'
                      alt='Форум'
                    )
                td
                  a#menu_contacts(
                    onmouseover="MlImageOn('ml_img_7_1')"
                    onmouseout="MlImageOff('ml_img_7_1')"
                    href='/contacts'
                    title='Контакты'
                  )
                    img(
                      src='/assets/contacts.jpg'
                      name='ml_img_7_1'
                      border='0'
                      width='183'
                      height='105'
                      alt='Контакты'
                    )

        #content
          .content
            #maincont
              table(width='100%')
                tbody
                  tr(height='60px')
                    td
                    td
                    td
                  tr
                    td(width='40px')
                    td
                      .joomla
                        .blog
                          block content
                    td(width='40px')
                  tr(height='60px')
                    td
                    td
                    td

    script(src='/assets/sazhinet.min.js' type='text/javascript')
